// This file was auto-generated by Fern from our API Definition.

package scimdirectories

import (
	context "context"
	ssoreadygo "github.com/ssoready/ssoready-go"
	core "github.com/ssoready/ssoready-go/core"
	management "github.com/ssoready/ssoready-go/management"
	option "github.com/ssoready/ssoready-go/option"
	http "net/http"
	os "os"
)

type Client struct {
	baseURL string
	caller  *core.Caller
	header  http.Header
}

func NewClient(opts ...option.RequestOption) *Client {
	options := core.NewRequestOptions(opts...)
	if options.APIKey == "" {
		options.APIKey = os.Getenv("SSOREADY_API_KEY")
	}
	return &Client{
		baseURL: options.BaseURL,
		caller: core.NewCaller(
			&core.CallerParams{
				Client:      options.HTTPClient,
				MaxAttempts: options.MaxAttempts,
			},
		),
		header: options.ToHeader(),
	}
}

// Gets a list of SCIM directories in an organization.
func (c *Client) ListScimDirectories(
	ctx context.Context,
	request *management.ScimDirectoriesListScimDirectoriesRequest,
	opts ...option.RequestOption,
) (*ssoreadygo.ListScimDirectoriesResponse, error) {
	options := core.NewRequestOptions(opts...)

	baseURL := "https://api.ssoready.com"
	if c.baseURL != "" {
		baseURL = c.baseURL
	}
	if options.BaseURL != "" {
		baseURL = options.BaseURL
	}
	endpointURL := baseURL + "/v1/scim-directories"

	queryParams, err := core.QueryValues(request)
	if err != nil {
		return nil, err
	}
	if len(queryParams) > 0 {
		endpointURL += "?" + queryParams.Encode()
	}

	headers := core.MergeHeaders(c.header.Clone(), options.ToHeader())

	var response *ssoreadygo.ListScimDirectoriesResponse
	if err := c.caller.Call(
		ctx,
		&core.CallParams{
			URL:             endpointURL,
			Method:          http.MethodGet,
			MaxAttempts:     options.MaxAttempts,
			Headers:         headers,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Response:        &response,
		},
	); err != nil {
		return nil, err
	}
	return response, nil
}

// Creates a SCIM directory.
func (c *Client) CreateScimDirectory(
	ctx context.Context,
	request *ssoreadygo.ScimDirectory,
	opts ...option.RequestOption,
) (*ssoreadygo.CreateScimDirectoryResponse, error) {
	options := core.NewRequestOptions(opts...)

	baseURL := "https://api.ssoready.com"
	if c.baseURL != "" {
		baseURL = c.baseURL
	}
	if options.BaseURL != "" {
		baseURL = options.BaseURL
	}
	endpointURL := baseURL + "/v1/scim-directories"

	headers := core.MergeHeaders(c.header.Clone(), options.ToHeader())
	headers.Set("Content-Type", "application/json")

	var response *ssoreadygo.CreateScimDirectoryResponse
	if err := c.caller.Call(
		ctx,
		&core.CallParams{
			URL:             endpointURL,
			Method:          http.MethodPost,
			MaxAttempts:     options.MaxAttempts,
			Headers:         headers,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Request:         request,
			Response:        &response,
		},
	); err != nil {
		return nil, err
	}
	return response, nil
}

// Gets a SCIM directory.
func (c *Client) GetScimDirectory(
	ctx context.Context,
	// The ID of the SCIM directory.
	id string,
	opts ...option.RequestOption,
) (*ssoreadygo.GetScimDirectoryResponse, error) {
	options := core.NewRequestOptions(opts...)

	baseURL := "https://api.ssoready.com"
	if c.baseURL != "" {
		baseURL = c.baseURL
	}
	if options.BaseURL != "" {
		baseURL = options.BaseURL
	}
	endpointURL := core.EncodeURL(baseURL+"/v1/scim-directories/%v", id)

	headers := core.MergeHeaders(c.header.Clone(), options.ToHeader())

	var response *ssoreadygo.GetScimDirectoryResponse
	if err := c.caller.Call(
		ctx,
		&core.CallParams{
			URL:             endpointURL,
			Method:          http.MethodGet,
			MaxAttempts:     options.MaxAttempts,
			Headers:         headers,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Response:        &response,
		},
	); err != nil {
		return nil, err
	}
	return response, nil
}

// Updates a SCIM directory.
func (c *Client) UpdateScimDirectory(
	ctx context.Context,
	// The ID of the SCIM directory to update.
	id string,
	request *ssoreadygo.ScimDirectory,
	opts ...option.RequestOption,
) (*ssoreadygo.UpdateScimDirectoryResponse, error) {
	options := core.NewRequestOptions(opts...)

	baseURL := "https://api.ssoready.com"
	if c.baseURL != "" {
		baseURL = c.baseURL
	}
	if options.BaseURL != "" {
		baseURL = options.BaseURL
	}
	endpointURL := core.EncodeURL(baseURL+"/v1/scim-directories/%v", id)

	headers := core.MergeHeaders(c.header.Clone(), options.ToHeader())
	headers.Set("Content-Type", "application/json")

	var response *ssoreadygo.UpdateScimDirectoryResponse
	if err := c.caller.Call(
		ctx,
		&core.CallParams{
			URL:             endpointURL,
			Method:          http.MethodPatch,
			MaxAttempts:     options.MaxAttempts,
			Headers:         headers,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Request:         request,
			Response:        &response,
		},
	); err != nil {
		return nil, err
	}
	return response, nil
}

// Rotates a SCIM directory's bearer token.
//
// Every SCIM directory has a bearer token that SSOReady uses to authenticate requests sent from your customer's
// Identity Provider. These bearer tokens are assigned by SSOReady, and are secret. Newly-created SCIM directories do
// not have any bearer token at all; you must use this endpoint to get an initial value.
//
// Rotating a SCIM directory bearer token immediately invalidates the previous bearer token, if any. Your customer
// will need to update their SCIM configuration with the new value to make SCIM syncing work again.
//
// SSOReady only stores the hash of these bearer tokens. If your customer has lost their copy, you must use this
// endpoint to generate a new one.
func (c *Client) RotateScimDirectoryBearerToken(
	ctx context.Context,
	// The ID of the SCIM directory whose bearer token to rotate.
	id string,
	opts ...option.RequestOption,
) (*ssoreadygo.RotateScimDirectoryBearerTokenResponse, error) {
	options := core.NewRequestOptions(opts...)

	baseURL := "https://api.ssoready.com"
	if c.baseURL != "" {
		baseURL = c.baseURL
	}
	if options.BaseURL != "" {
		baseURL = options.BaseURL
	}
	endpointURL := core.EncodeURL(baseURL+"/v1/scim-directories/%v/rotate-bearer-token", id)

	headers := core.MergeHeaders(c.header.Clone(), options.ToHeader())

	var response *ssoreadygo.RotateScimDirectoryBearerTokenResponse
	if err := c.caller.Call(
		ctx,
		&core.CallParams{
			URL:             endpointURL,
			Method:          http.MethodPost,
			MaxAttempts:     options.MaxAttempts,
			Headers:         headers,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Response:        &response,
		},
	); err != nil {
		return nil, err
	}
	return response, nil
}
